<%= form_for Image.new do |f| %>
  <p>
    <%= f.file_field :image_file, multiple: true, name: "image[image_file]" %>
    <%= hidden_field_tag 'AWSAccessKeyId', ENV['AWS_ACCESS_KEY_ID']  %>
    <%= hidden_field_tag :acl, 'public-read' %>
    <%= hidden_field_tag :key %>
    <%= hidden_field_tag :policy %>
    <%= hidden_field_tag :signature %>
    <%= hidden_field_tag :success_action_status, "201" %>
  </p>
<% end %>

<div class="thumbnail_grid">
  <% @images.each do |image| %>
    <div class="thumbnail">
      <%= image_tag image.image_file_url %>
    </div>
  <% end %>
</div>